Repository mxgic1337/faceit-stats-widget, pull requests merged in 2025-09, with the labels that each got.

#92 chore(lang): updated german.json
  src/translations/german.json
Labels: translation

#93 fix(widget): count SA queue as official
  widget/src/utils/faceit_util.ts
Labels: widget

#97 feat(translations): add Spanish translation
  src/translations/pt-br.json
  src/translations/spanish.json
  src/translations/translations.ts
Labels: translation

#99 feat(generator): add additional map previews and translations
  src/assets/previews/anubis.png
  src/assets/previews/dust2.png
  src/assets/previews/inferno.png
  src/assets/previews/overpass.png
  src/assets/previews/train.png
  src/assets/previews/vertigo.png
  src/generator/Generator.tsx
  src/translations/english.json
  src/translations/pt-br.json
  src/translations/spanish.json
Labels: translation, generator
